@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nocturne";
  src: url("/fonts/NocturneSerif-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "PTSerif";
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
}
:root {
  --color-topNavBg: #ffffff;
  --color-homeContBg: #f4f7fa;
  --color-specBlue: #5d738a;
  --color-textColor: #000000;
  --color-borderColor: #1c2a36;
  --color-underlineColor: #183B5A;
}
.dark {
  --color-topNavBg: #1c2a36;
  --color-homeContBg: #0f1a24;
  --color-specBlue: #064176;
  --color-textColor: #ffffff;
  --color-borderColor: #ffffff;
  --color-underlineColor: #D0D8E0;
}
